{% extends 'home/base.html' %}

{% block body %}

<div id='about'>
<h2>Welcome</h2>
<p>This is a To-do app, its features are as follows:</p>
<ul>
<li> The user can add Todo lists, corresponding Tasks and Comments with File Attachments. </li>
<li> The user can if registered and logged in Delete, View or Update any of their user data. </li>
<li> All communication after Login happens through Ajax calls. </li>
<li> Tasks with a a background colour of lightsalmon are high priority and lightcyan indicates normal priority tasks. </li>
<li> Tasks with a strike-through indicated that they have been completed. </li>
</ul>

</div>

{% endblock %}